html {
	font-family: sans-serif;
	}

h1#title {
	margin-bottom: 0;
	font-size: 1.3em;
	}
h3#subtitle {
	margin-top: 0;
	margin-bottom: 0;
	}

div#felt {
	width: 100%;
	height: 100px;
	position: relative;
	}

div#instructions {
	font-size: smaller;
	margin-top: 0;
	margin-bottom: 1.75em;
	}

table#actions {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	/* border-top: 0;
	border-bottom: 0; */
	border: 1px;
	border-color: black;
	}

td#lights {
	text-align: right;
	}

span.action {
	color: #0000CC;
	}

span.divider {
	color: #CCCCCC;
	}

span#stuck {
	display: none;
	color: red;
	font-weight: bold;
	text-align: right;
	}

div#stats {
	margin-top: 1.5em;
	}

div#cards-credit {
	display: block;
	margin-top: 1.5em;
	}

span#outer_ascii_history {
	display: none;
	}

svg#history-svg {
	display: block;
	height: 20px;
	/* When inline: */
	/* margin-left: 15px; */
	/* When block: */
	margin-top: 5px;
	}

img#selected {
	border-color: rgba(75, 75, 255, 0.25);
	border-width: 7px;
	border-style: solid;
	border-radius: 15px;
	}

