html {
	font-family: sans-serif;
	}

h1#title {
	margin-bottom: 0;
	}
h3#subtitle {
	margin-top: 0;
	margin-bottom: 0;
	}

div#felt {
	width: 100%;
	height: 100px;
	position: relative;
	}

div#instructions {
	font-size: smaller;
	margin-top: 0;
	margin-bottom: 1.75em;
	}

span.action {
	color: #0000CC;
	}

span.divider {
	color: #CCCCCC;
	}

div#stats {
	margin-top: 1.5em;
	}

div#cards-credit {
	display: block;
	margin-top: 1.5em;
	}

